<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shop.dao.OrderDao">
	
	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO xx_order (
			create_date,
			modify_date,
			version,
			address,
			amount,
			amount_paid,
			area_name,
			complete_date,
			consignee,
			coupon_discount,
			exchange_point,
			expire,
			fee,
			freight,
			invoice_content,
			invoice_title,
			is_allocated_stock,
			is_exchange_point,
			is_use_coupon_code,
			lock_expire,
			lock_key,
			memo,
			offset_amount,
			payment_method_name,
			payment_method_type,
			phone,
			price,
			promotion_discount,
			promotion_names,
			quantity,
			refund_amount,
			returned_quantity,
			reward_point,
			shipped_quantity,
			shipping_method_name,
			sn,
			STATUS,
			tax,
			type,
			weight,
			zip_code,
			area,
			coupon_code,
			member,
			payment_method,
			shipping_method
		)
		VALUES
			(
				NOW(),
				NOW(),
				1,
				#{address},
				#{amount},
				#{amountPaid},
				#{areaName},
				NOW(),
				#{consignee},
				#{couponDiscount},
				#{exchangePoint},
				#{expire},
				#{fee},
				#{freight},
				#{invoiceContent},
				#{invoiceTitle},
				#{isAllocatedStock},
				#{isExchangePoint},
				#{isUseCouponCode},
				#{lockExpire},
				#{lockKey},
				#{memo},
				#{offsetAmount},
				#{paymentMethodName},
				#{paymentMethodType},
				#{phone},
				#{price},
				#{promotionDiscount},
				#{promotionNames},
				#{quantity},
				#{refundAmount},
				#{returnedQuantity},
				#{rewardPoint},
				#{shippedQuantity},
				#{shippingMethodName},
				#{sn},
				#{status},
				#{tax},
				#{type},
				#{weight},
				#{zipCode},
				#{area},
				#{couponCode},
				#{member},
				#{paymentMethod},
				#{shippingMethod}
			)		
	</insert>	
	
	
</mapper>